@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    h1 {align-content:center;}
</style>
<h1 style="align-content: center;"> Data has been inserted to Database</h1>
<p> Visit ...Home/Queries to view the data</p>

<a href ="/Home/Api"> API Info</a>